body {
  background-color: #333;
  color: #eee;
}

nav {
  display: none;
}


#slideshow p {
  display: none;
  font-size: 3vw;
  font-family: Kreon, serif;
}

#slideshow p.active {
  display: block;
}

#slideshow p img {
  width: 50%;
  float: right;
}
