body {
  background-color: #333;
  color: #eee;
  max-width: 800px;
}

nav {
  display: none;
}

button {
  padding: 5px 10px;
  font-size: 1.5em;
}

#slideshow p {
  display: none;
  font-size: 2vw;
  font-family: Kreon, serif;
  text-shadow: 1px 1px 0px black;
  color: white;  
}

#slideshow p.active {
  display: block;
}

#slideshow p img {
  width: 70%;
  margin: auto auto 1em auto;
  display: block;
}

#slideshow p:first-child {
  font-size: 5vw;
  text-align: center;
}

#ytplayer {
  position: fixed;
  bottom: 0;
  right: 20px;
  width: 480px;
  height: 270px;
}
